<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- external stylesheets -->
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    <!-- external fonts -->
    <script src="https://kit.fontawesome.com/59c032d6c4.js" crossorigin="anonymous"></script>
    <script src="/public/js/main.js" defer></script>
    <title>AccuDriver</title>
</head>
<body>
    <nav>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <div class="navDiv">
            <div class="logo">
                <div>
                    <h1>AccuDriver</h1>
                </div>
            </div>
            <ul>
                <li class="firstli"><a href="#">About</a></li>
                <li class="secondli"><a href="#">Dashboard</a></li>
                <div class="closeMenu"><i class="fa fa-times"></i></div>
            </ul>
        </div>
    </nav>
    <main>
        <ul class="profile-grid">
            <li class="grid-row-8 box">box1
                <button>X</button>
                <div>name</div>
                <img src="/public/img/driver2.png" alt="driver">
                <ul>
                    <li>start time</li>
                    <li>INSERT</li>
                    <li>total drive time</li>
                    <li>INSERT</li>
                    <li>hours this week</li>
                    <li>INSERT</li>
                    <button>start/stop time</button>
                </ul>
            </li>
            <li class="grid-row-8 box">box2
                <button>X</button>
                <div>name</div>
                <img src="/public/img/driver1.jpg" alt="driver">
                <ul>
                    <li>start time</li>
                    <li>INSERT</li>
                    <li>total drive time</li>
                    <li>INSERT</li>
                    <li>hours this week</li>
                    <li>INSERT</li>
                    <button>start/stop time</button>
                </ul>
            </li>
            <li class="grid-row-8 box" id="driverCreate">box3
                <button>X</button>
                <div>name</div>
                <img src="#" alt="driver">
                <ul>
                    <li>start time</li>
                    <li>INSERT</li>
                    <li>total drive time</li>
                    <li>INSERT</li>
                    <li>hours this week</li>
                    <li>INSERT</li>
                    <button>Add DRiver</button>
                </ul>
            </li>
            <button class="grid-row-1" id="addDriver">plus sign</button>
        </ul>
    </main>
    
</body>
</html>