<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- external stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- external fonts -->
    <script src="https://kit.fontawesome.com/59c032d6c4.js" crossorigin="anonymous"></script>
    <!-- <script src="/public/js/main.js" defer></script> -->
    <title>AccuDriver</title>
</head>
<body>
    <nav>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <div class="navDiv">
            <div class="logo">
                <div>
                    <h1>AccuDriver</h1>
                </div>
            </div>
            <ul>
                <li class="firstli"><a href="#">About</a></li>
                <li class="secondli"><a href="#">Dashboard</a></li>
                <div class="closeMenu"><i class="fa fa-times"></i></div>
            </ul>
            <% profiles.forEach( el => { %>
                <li data-id='<%=el._id%>'>
                    <div><%= el.driverName %></div>

                    <!-- stop watch here -->
                    <span class='del'> Delete </span>

                </li>
            <% }) %>    
            </ul>
    
            
            <form action="/profiles/createProfile" method='POST'>
                <div>
                    Driver's Name
                    <input type="text" placeholder="enter driver name" name='driverName'>
                    Owner Operator?
                    <input type="text" placeholder="enter driver name" name='driverName'>
                </div>
                
            </form>
        </div>
    </nav>
    
    
</body>
</html>