<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- external stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <!-- external fonts -->
    <script src="https://kit.fontawesome.com/59c032d6c4.js" crossorigin="anonymous"></script>
    <script src="/js/main.js" defer></script>
    <title>AccuDriver</title>
</head>
<body>
    <h1>AccuDriver</h1>

           <ul>
            <% profiles.forEach( el => { %>
                <li data-id='<%=el._id%>'>
                    <div><%= el.driverName %></div>

                    
            
                    <div class="watch">
                        <div class="time">
                            00:00:00:00
                        </div>
                        <div class="controls">
                            <button id="start">start</button>
                            <button id="stop">stop</button>
                            <button id="reset">reset</button>
                        </div>
                    </div>

                    <span class="ttime"></span>
                    <span class='del'> Delete </span>

                </li>
            <% }) %>    
            </ul>
    
            
            <form action="/profiles/createProfile" method='POST'>
                <div>
                    Driver's Name
                    <input type="text" placeholder="enter driver name" name='driverName'>
                    <!-- Owner Operator?
                    <input type="text" placeholder="enter driver name" name='driverName'> -->
                    <input type="submit">
                </div>
                
            </form>

    
    
    
</body>
</html>