<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- external font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  <!-- favicon -->
  <link rel="shortcut icon" type="image/jpg" href="img/favi.png?v=1"/>
  <title>AccuDriver Sign-Up</title>
</head>
<body>
  

    <main class="login-background">
      
            <section class="login-block height-fit">
              <img src="/img/logo.png">

                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="side-padding"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="side-padding"><%= el.msg %></div>
                    <% }) %>    
                <% } %>

                <form action="/signup" method="POST">
                    <div class="margin-3">
                        <label for="userName" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="userName" name="userName">
                      </div>
                    <div class="margin-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="margin-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="margin-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                      </div>
                    <button type="submit" class="margin-5 margin-bot">Submit</button>
                  </form>
            </section>
      
    </main>



</body>
</html>
    
    

