a:link{
    text-decoration: none;
    color:black;
}
a:visited{
    color:black;
}
li{
    list-style: none;
}
ul{
    padding:0;
    margin:0;
}
*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    font-family: "Noto Sans";
    font-size: 14px;
    --main-color:#004AAD;
    --aux-color:#FF1616;
    --background-color:#B6D1F6;
    --button-color:rgb(185, 185, 185);
}

/*////////////////////////////////////////////////////////////////////////
                                /
////////////////////////////////////////////////////////////////////////*/
.login-background{
    background-image: url(/img/truck3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-block{
    border-radius: 10%;
    color:black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:55%;
    width: 40%;
    text-align: center;
}
.login-block>img{
    width:200px;
    border-radius: 10%;
}
.login-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10%;
}
.login-button>a{
    border:grey solid;
    background-color: grey;
    padding:2%;
    border-radius: 10%;
    margin-top: 5%;
    color:white;
}
.login-button>a:hover{
    background:var(--main-color);
    border:var(--main-color);
}


@media screen and (max-width: 500px){
    .login-block>img{
        width: 150px;
    }
}
@media screen and (max-width: 350px){
    .login-block>img{
        width: 100px;
    }
}
@media (min-width:600px) and (max-width:1600px){
    .login-background{
        height:800px;
        background-size:cover;
        
    }
}

/*////////////////////////////////////////////////////////////////////////
                                /login
///////////////////////////////////////////////////////////////////////*/

.margin-5{
    margin-top: 5%;
}

/*////////////////////////////////////////////////////////////////////////
                                /signup
///////////////////////////////////////////////////////////////////////*/

.margin-3{
    margin-top: 3%;
}
.height-fit{
    height: fit-content;
}
.side-padding{
    padding: 0 5px;
}
.margin-bot{
    margin-bottom: 3px;
}

/*////////////////////////////////////////////////////////////////////////
                                /dashboard
///////////////////////////////////////////////////////////////////////*/

/*///////////NAV//////*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px grey solid;
}
nav>img{
    width: 150px;
    margin-left:20px;
}
.nav-div{
    margin-right: 30px;
    text-align: right;
}
.nav-div>p{
    font-size: 18px;
    margin:0;
} 
.nav-div>a{
    padding-bottom: 10px;
    height: fit-content;
}
.nav-div>a:hover{
    color:var(--aux-color)
}


/*///////////MAIN//////*/
.dashboard-main{
    display: flex;
    height: auto;
    padding: 5%;
    justify-content: space-around;
    background-image: url(/img/background1.png);
    background-position: center;
    background-color: var(--background-color);
}
.driver-grid{
    height: fit-content;
    list-style-type: none;
    padding-left:0;
    --gap:20px;
    --num-cols:2;
    --row-height: 400px;
    box-sizing: border-box;
    padding: var(--gap);
    display:grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    column-gap: 30px;
    row-gap: 30px;
    width:fit-content;
}
.driver-grid>li{
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 10%;
    box-shadow: 2px 2px 2px rgb(175, 175, 175);
}
.driver-img{
    width: 130px;
    border-radius: 40%;
}
.driver-btns{
    display: flex;
}
.driver-btns>form>button{
    margin-left: 10px;
    border-radius: 5px;
}
.bold{
    font-weight: 600;
    font-size: 18px;
}
.times{
    display:flex;
    justify-content: space-between;
    width:85%;
}
.starts, .stops{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#start-btn{
    background:green;
}
#stop-btn{
    background-color: red;
}
#stop-btn, #start-btn{
    color: white;
    border: none;
    padding:5px;
}
.profile-headings{
    font-weight: 600;
    border-bottom: solid black 2px;
    margin-top: 10px;
}


@media screen and (max-width:550px){
    .driver-grid{
        --num-cols:1;
    }
    .dashboard-main{
        height:auto;
        background-image: none;
    }
}
@media (min-width:900px) and (max-width:1200px){
    .driver-grid{
        --num-cols:3;
    }
}
@media (min-width:1201px) and (max-width:2100px){
    .driver-grid{
        --num-cols:4;
    }
}



/*///////////FOOTER//////*/
footer{
    height:100px;
}




/*////////////////////////////////////////////////////////////////////////
                                /driver
///////////////////////////////////////////////////////////////////////*/
.driver-main{
    background-color: var(--background-color);
    background-image: url(/img/background1.png);
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height:600px;
}
.profile-panel{
    background:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 10%;
    height: 50%;
    width: 300px;
    box-shadow: 2px 2px 2px rgb(175, 175, 175);
}
.return-dash{
    background:var(--button-color);
    padding: 5px;
    border-radius: 15px;
}
.return-dash>a{
    color: white;
}
.return-dash>a:hover{
    color:var(--main-color)
}