a:link{
    text-decoration: none;
    color:black;
}
a:visited{
    color:black;
}
li{
    list-style: none;
}
ul{
    padding:0;
    margin:0;
}
*{
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
}
/*////////////////////////////////////////////////////////////////////////
                                NAV
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////////////////////////////////////////////////////
                                MAIN
////////////////////////////////////////////////////////////////////////*/
form{
    display:flex;
    flex-direction: column;
    align-items: center;
    border: red solid;
    height: 200px;
}